In [5]:
%pip install --upgrade DBcm

Requirement already satisfied: DBcm in c:\users\joshua\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1)
Requirement already satisfied: mysql-connector-python in c:\users\joshua\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from DBcm) (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\joshua\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mysql-connector-python->DBcm) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\Joshua\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import DBcm

In [7]:
print(dir(DBcm))

['ConnectionError', 'CredentialsError', 'SQLError', 'UseDatabase', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'mysql', 'sqlite3']

In [9]:
creds = {
    'host': 'localhost',
    'database': 'BlackJackDB',
    'user': 'josh',
    'password': 'sheaba'
}

In [10]:
creds

{'host': 'localhost',
 'database': 'BlackJackDB',
 'user': 'josh',
 'password': 'sheaba'}

In [15]:
with open("players.sql") as f: # file context manager, auto closed file also
    data = f.readlines()

In [16]:
data

['insert into players (name, gamertag, email) values ("Josh", "JDawg", "c00270917@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Shane", "idk", "c00270031@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Alwyn", "alwyn", "c00271145@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Darragh", "FrogGranna", "c00271651@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Pavol", "PDawg", "c00272003@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Daniel", "frodo", "c00272187@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Richie", "The Legend 27", "c00272345@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Conor", "xxx_CDawg_xxx", "c00272506@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Jack", "Xx_TTV_MadJack69_xX", "c00273123@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Ruslan", "Ruark", "c00273521@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Killian", "kio", "c00275417@setu.ie");\n',
 'insert into players (name, gamertag, email) values ("Adrian", "MIA", "c0027xxxxx@setu.ie");\n']

In [23]:
with DBcm.UseDatabase(creds) as db: # database contex manager, db is contection to 
    SQL = "select * from games"
    db.execute(SQL) # send sql comman dthrough server to run
    results = db.fetchall() # get results
    # automaitcally closes connection to database

In [24]:
results

[('JDawg', 'Win'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Win')]

In [25]:
with DBcm.UseDatabase(creds) as db:  
    SQL = "select * from players"
    db.execute(SQL)
    results = db.fetchall()

In [26]:
results

[('Josh', 'Josher', 'josh@gmail.com'),
 ('Josh', 'JDawg', 'c00270917@setu.ie'),
 ('Shane', 'idk', 'c00270031@setu.ie'),
 ('Alwyn', 'alwyn', 'c00271145@setu.ie'),
 ('Darragh', 'FrogGranna', 'c00271651@setu.ie'),
 ('Pavol', 'PDawg', 'c00272003@setu.ie'),
 ('Daniel', 'frodo', 'c00272187@setu.ie'),
 ('Richie', 'The Legend 27', 'c00272345@setu.ie'),
 ('Conor', 'xxx_CDawg_xxx', 'c00272506@setu.ie'),
 ('Jack', 'Xx_TTV_MadJack69_xX', 'c00273123@setu.ie'),
 ('Ruslan', 'Ruark', 'c00273521@setu.ie'),
 ('Killian', 'kio', 'c00275417@setu.ie'),
 ('Adrian', 'MIA', 'c0027xxxxx@setu.ie')]

In [27]:
with DBcm.UseDatabase(creds) as db:  
    SQL = "describe players"
    db.execute(SQL)
    results = db.fetchall()

In [28]:
results

[('name', 'varchar(32)', 'NO', '', None, ''),
 ('gamertag', 'varchar(32)', 'NO', '', None, ''),
 ('email', 'varchar(32)', 'NO', '', None, '')]

In [29]:
type(results)

list

In [30]:
type(results[0])

tuple

In [31]:
results[0][0]

'name'

In [35]:
with DBcm.UseDatabase(creds) as db:  
    SQL = """
    select count(*) from games 
    where gamertag = "JDawg" and outcome = "Win"
    """
    db.execute(SQL)
    results = db.fetchone()

In [38]:
results[0]

2

In [47]:
with DBcm.UseDatabase(creds) as db:  
    SQL = """
    select count(*) from games 
    where gamertag = "JDawg" and outcome = "Win"
    """
    db.execute(SQL)
    results = db.fetchone()
    wins = results[0]


    SQL = """
    select count(*) from games 
    where gamertag = "JDawg" and outcome = "Loss"
    """
    db.execute(SQL)
    results = db.fetchone()
    losses = results[0]

    print("Wins:", wins)

    print("Losses", losses)

    print ("Wins percentage:", wins/(wins + losses) )

Wins: 4
Losses 5
Wins percentage: 0.4444444444444444

In [43]:
import random

In [46]:

SQL = """
    insert into games
    (gamertag, outcome)
    values
    ("JDawg","Loss" )
"""
with DBcm.UseDatabase(creds) as db:
    db.execute(SQL)

In [50]:
outcome = random.choice(("Win", "Loss"))
outcome

'Loss'

In [56]:
with DBcm.UseDatabase(creds) as db:
    SQL = """
    select gamertag from players
    """
    db.execute(SQL)
    tags = db.fetchall()

In [57]:
tags

[('Josher',),
 ('JDawg',),
 ('idk',),
 ('alwyn',),
 ('FrogGranna',),
 ('PDawg',),
 ('frodo',),
 ('The Legend 27',),
 ('xxx_CDawg_xxx',),
 ('Xx_TTV_MadJack69_xX',),
 ('Ruark',),
 ('kio',),
 ('MIA',)]

In [58]:
tags = [row[0] for row in tags] 
# every row get back a touple,
#  tthen give me firt value in the touple and reuse tag variable
print(tags)

['Josher', 'JDawg', 'idk', 'alwyn', 'FrogGranna', 'PDawg', 'frodo', 'The Legend 27', 'xxx_CDawg_xxx', 'Xx_TTV_MadJack69_xX', 'Ruark', 'kio', 'MIA']

In [63]:
who = random.choice(tags)
who

'xxx_CDawg_xxx'

In [69]:
def random_gamer():    
    with DBcm.UseDatabase(creds) as db:
        SQL = """
        select gamertag from players
        """
        db.execute(SQL)
        tags = db.fetchall()
        tags = [row[0] for row in tags] 
        who = random.choice(tags)
    return who

In [70]:
random_gamer()

'JDawg'

In [74]:
gamer = random_gamer()
outcome = random.choice(["Win", "Loss"])
gamer, outcome

('idk', 'Win')

In [83]:
for _ in range(50):
    SQL = """
    insert into games
    (gamertag, outcome)
    values
    (%s,%s )      
    """

    gamer = random_gamer()
    outcome = random.choice(["Win", "Loss"])

    with DBcm.UseDatabase(creds) as db:
        db.execute(SQL, (gamer, outcome, ))

        SQL = """select * from games"""
        db.execute(SQL)
        results = db.fetchall()
    ## print(results[-3:])

In [84]:
len(results)

114

In [87]:
results[:50]

[('JDawg', 'Win'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Win'),
 ('JDawg', 'Win'),
 ('JDawg', 'Win'),
 ('JDawg', 'Loss'),
 ('JDawg', 'Loss'),
 ('idk', 'Win'),
 ('Josher', 'Win'),
 ('frodo', 'Win'),
 ('PDawg', 'Loss'),
 ('Xx_TTV_MadJack69_xX', 'Win'),
 ('FrogGranna', 'Win'),
 ('PDawg', 'Win'),
 ('PDawg', 'Loss'),
 ('frodo', 'Loss'),
 ('kio', 'Win'),
 ('The Legend 27', 'Win'),
 ('idk', 'Loss'),
 ('Xx_TTV_MadJack69_xX', 'Win'),
 ('The Legend 27', 'Loss'),
 ('kio', 'Loss'),
 ('Xx_TTV_MadJack69_xX', 'Win'),
 ('frodo', 'Loss'),
 ('Xx_TTV_MadJack69_xX', 'Loss'),
 ('Ruark', 'Loss'),
 ('xxx_CDawg_xxx', 'Loss'),
 ('The Legend 27', 'Loss'),
 ('Xx_TTV_MadJack69_xX', 'Loss'),
 ('The Legend 27', 'Win'),
 ('idk', 'Win'),
 ('idk', 'Loss'),
 ('PDawg', 'Win'),
 ('Xx_TTV_MadJack69_xX', 'Win'),
 ('Xx_TTV_MadJack69_xX', 'Win'),
 ('FrogGranna', 'Win'),
 ('The Legend 27', 'Win'),
 ('xxx_CDawg_xxx', 'Win'),
 ('frodo', 'Win'),
 ('frodo', 'Win'),
 ('JDawg', 'Win'),
 ('alwyn', 'Win'),
 ('PDawg', 'Loss'),
 ('alwyn', 'Loss'),
 ('MIA', 'Loss'),
 ('Ruark', 'Win'),
 ('Xx_TTV_MadJack69_xX', 'Loss'),
 ('The Legend 27', 'Win')]

In [89]:
with DBcm.UseDatabase(creds) as db:
    SQL = """select distinct gamertag from games"""
    db.execute(SQL)
    results = db.fetchall()
    print(len(results))

13

In [91]:

for tag in tags:


    with DBcm.UseDatabase(creds) as db:  
        SQL = """
        select count(*) from games 
        where gamertag = %s and outcome = "Win"
        """
        db.execute(SQL, (tag, )) # touple
        results = db.fetchone()
        wins = results[0]


        SQL = """
        select count(*) from games 
        where gamertag = %s and outcome = "Loss"
        """
        db.execute(SQL, (tag, ))
        results = db.fetchone()
        losses = results[0]

       # print("Wins:", wins)

       # print("Losses", losses)

        print (tag, "Wins percentage:", wins/(wins + losses) )
        print("-"*60)

Josher Wins percentage: 0.75
------------------------------------------------------------
JDawg Wins percentage: 0.4666666666666667
------------------------------------------------------------
idk Wins percentage: 0.75
------------------------------------------------------------
alwyn Wins percentage: 0.5
------------------------------------------------------------
FrogGranna Wins percentage: 0.75
------------------------------------------------------------
PDawg Wins percentage: 0.4
------------------------------------------------------------
frodo Wins percentage: 0.5
------------------------------------------------------------
The Legend 27 Wins percentage: 0.7272727272727273
------------------------------------------------------------
xxx_CDawg_xxx Wins percentage: 0.7
------------------------------------------------------------
Xx_TTV_MadJack69_xX Wins percentage: 0.6666666666666666
------------------------------------------------------------
Ruark Wins percentage: 0.3333333333333333
------------------------------------------------------------
kio Wins percentage: 0.2857142857142857
------------------------------------------------------------
MIA Wins percentage: 0.5
------------------------------------------------------------